{
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "importOrder": [
    "^@(.*)$",
    "^assets(.*)$",
    "^config(.*)$",
    "^context(.*)$",
    "^hooks(.*)$",
    "^icons(.*)$",
    "^styles(.*)$",
    "^utils(.*)$",
    "^types(.*)$",
    "(.*).css$",
    "^[./]"
  ],
  "importOrderParserPlugins": ["jsx", "typescript"]
}
